name: Python CI

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          pip install uv
          make install

      - name: Run linter
        run: |
          make check

      - name: SonarQubeScan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        with:
          args: >
            -Dsonar.projectKey=annetmyshkina_python-project-83
            -Dsonar.organization=annetmyshkina
            -Dsonar.python.version=3.12
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
            with:
              args: >
                -Dsonar.projectKey=annetmyshkina_python-project-83
                -Dsonar.organization=annetmyshkina
                -Dsonar.python.version=3.12
                -Dsonar.coverage.exclusions=**/*